/* Import Google Font cdn link */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap');
:root {
    --primary-color: #ff523b;
    --decent-color: #ffaea3;
    --accent-color: #fff;
    --secondary-color: rgb(255, 51, 0);
    --font-family: 'Poppins', sans-serif;
    --text-color: gray;
}

* {
    margin: 0;
    padding: 0;
    outline: none;
    text-decoration: none;
    box-sizing: border-box;
}
body {
    background: radial-gradient(#fff,#ffd6d6);
    font-family: var(--font-family);
}


.signup-form-container {
    height: 100vh;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr;
    place-items: center;
}

.form-container{
    width: fit-content;
    margin:20px  auto;
    background-color: #ffaea3;
    color: #fff;
    display: grid;
    grid-template-columns: 1fr;
    place-items: center;
    padding: 3em;
    border-radius: 15px;
}

.control {
    display: flex;
    flex-direction: column;
    color: #000;
    gap: 5px;
}

.form-header{
    font-size: 40px;
    color: #000;
    padding: 20px;
    text-align: center;
}
.form .control{
    gap: 10px;
}

.control label {
    font-weight: 600;
    color: #000;
}
.control input {
    padding: 10px;
    border: 0px solid #fff;
    border-radius: 5px;
    width: 100%;
    font-size: 16px;
    color: #000;
}
.control input:focus {
    outline: none;
    border: 1px solid var(--primary-color);
}
.control button {
    padding: 10px;
    border: 0px solid #fff;
    border-radius: 5px;
    width: 100%;
    font-size: 16px;
    color: #fff;
    background-color: var(--secondary-color);
    cursor: pointer;
}
.control button:hover {
    background-color: var(--primary-color);
}

.control a{
    color: #000;
    font-weight: 600;
    text-align: center;
    font-size: 16px;
    text-decoration: none;
}
.flex-col-gap{
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 1em;
}